@import 'vars';

.classPage {
    min-height: 100vh;
    width: 70vw;
    background-color: $white;
    display: flex;
    flex-direction: column;
    padding: 5em 15vw;
}

.videoContainer {
    width: 100%;
    height: 35vw;
}

.videoContainer__video {
    height: 100%;
    width: 100%;
}

.classPage__info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em;
    flex-wrap: wrap;
    gap: .5em;
}

.classPage__info > * {
    width: fit-content;
}

.classPage__info__title {
    color: $brown;
    margin: 0;
}

.classPage__info__author {
    color: $blue;
    margin: 0;
    font-size: 1.3em;
    font-weight: bold;
}

.ratingSection {
    color: $brown;
}

@media screen and (max-width: 1000px) {
    .classPage {
        width: 90vw;
        padding: 5em 5vw;
    }
    .videoContainer {
        width: 100%;
        height: 50vw;
    }
}

@media screen and (max-width: 600px) {
    .classPage__info .btn {
        font-size: 1em;
        border-radius: 0;
    }
}